# Node.js
node_modules/

# Логи и временные файлы
*.log
*.zip
*.tar

# Игровые данные и базы
*.db
*.db-journal
*.ini

# Конфиги с чувствительными данными
txt/config.ini
modules/gpt/config.ini
modules/SAGO/permanent_memory.ini

# Данные пользователей и статистика
modules/bank/users_data.db
modules/cash/money.db
modules/logging/logs.db
modules/players_stats/players_stats.db
modules/snowballs/snowballs.db
modules/quotes/quotes.db

# JSON/текстовые данные, которые генерируются или изменяются в runtime
modules/quiz/*.json
modules/quiz/*.txt
modules/quotes/quotes_rep.json

# Папки с временными или сгенерированными файлами
img/
modules/detector/
modules/lurking/
modules/skinnaper/skins/
modules/telegram/
modules/test/
old_version/
anon/

# Любые медиа
*.jpg
*.txt

