node_modules
img/*
*.log
**/*.zip
txt/config.ini
modules/bank/users_data.db
modules/cash/money.db
modules/detector
modules/logging/logs.db
modules/lurking
modules/players_stats/players_stats.db
modules/quiz/*.json
modules/quiz/*.txt
modules/quotes/quotes.db
modules/quotes/quotes_rep.json
modules/SAGO/placed_beds.db
modules/SAGO/permanent_memory.ini
modules/skinnaper/skins/*
modules/telegram
modules/test
*.tar
